@model MovieStoreMvc.Models.Domain.Genre
@{
}
<style>
    body {
        background-image: url('/image/N.jpg'); /*Remplacez par le chemin de votre image de fond */
        background-size: cover;
        background-position: center;
        color: #ffffff; /* Couleur du texte */
        margin: 0; /* Supprime les marges par défaut du body */
    }

    form {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 20px;
        border-radius: 10px;
        margin-top: 50px;
        width: 40%;
        margin: auto; /* Centre le formulaire sur la page */
    }

    .input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #1234; /* Couleur de fond des champs de saisie */
        color: #fff; /* Couleur du texte dans les champs de saisie */
    }

    .input-container {
        margin-bottom: 15px;
    }

    .message-box {
        color: #ff6b6b; /* Couleur du texte pour les messages d'erreur */
        font-size: 14px;
    }
</style>
<form class="w-40" asp-action="Add" method="post">
    <h2 class="pb-10">Add Genre</h2>
    <div class="input-container">
        <label asp-for="GenreName" class="w-40">GenreName</label>
        <input type="text" class="input" asp-for="GenreName">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="GenreName"> </span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Save</button>
        <a class="btn btn-sec" href="/Genre/GenreList">All records</a>
    </div>
</form>
