@{
}
<style>
   
    body {
        background-image: url('/image/dd.jpg'); /*Remplacez par le chemin de votre image de fond */
        background-size: cover;
        background-position: center;
        color: #ffffff; /* Couleur du texte */
        margin: 0; /* Supprime les marges par défaut du body */
    }

    .about-us-container {
        overflow: hidden; /* Clear the floats */
    }

    .about-us-paragraph {
        font-weight: bold; /* Rend le texte en gras */
        float: left;
        width: 50%; /* Ajustez la largeur selon vos besoins */
        padding: 70px; /* Ajustez la valeur selon vos besoins */
        font-size: 20px;
        color: black;
        
       
    }

    .about-us-image {
        float: right;
        width: 50%; /* Ajustez la largeur selon vos besoins */
        background-image: url('/image/new.jpeg'); /* Remplacez par le chemin de votre image */
        background-size: cover;
        background-position: center;
        height: 500px; /* Ajustez la hauteur selon vos besoins */
    }
</style>

<h2>About Us</h2>
<div class="about-us-container">
<div class="about-us-image"></div>
<div class="about-us-paragraph">
    <p>
     Disney Movie is your ultimate cinematic companion, offering a comprehensive exploration of the Disney film universe. This user-friendly application transcends release dates, providing a vast and detailed database covering timeless classics to the latest releases. Dive into the creative minds behind the magic with in-depth information on directors, cast members, and key contributors. Each film is accompanied by engaging summaries and plots, enhancing your understanding and appreciation. Stay in the cinematic loop with highlights on trending and popular films, ensuring you're always in the know. With its intuitive interface, Disney Movie caters to both Disney enthusiasts and casual viewers, making it effortless to navigate and discover your favorite films. Regular updates guarantee that you're never out of the loop, keeping you informed about the newest additions to the Disney film repertoire. Disney Movie is more than just an app; it's a portal to the enchanting world of Disney, inviting you to explore captivating stories and timeless magic. Download the app today and embark on a cinematic journey like never before.
    </p>
</div>